{% extends "Coder/padre.html" %}

{% block logeo %}
<h1 class="display-5 fw-bolder text-white mb-2">Hola! soy Gregory Chahuayla</h1>
<p class="lead text-white-50 mb-4">Llevo un tiempo aprendiendo python y desarrollo basico de paginas web,</p>
<p class="lead text-white-50 mb-4">librerias de python para machine/deep learning y otras frameworks de programacion.</p>
<p class="lead text-white-50 mb-4">Los invito a acompañarme en este gran camino :</p>
<p class="lead text-white-50 mb-4"><a href="https://www.linkedin.com/in/gregory-chahuayla-damas-06219b20a/">Linkedin</a></p>
<p class="lead text-white-50 mb-4"><a href="https://github.com/Gregchd">Github</a></p>
<p class="lead text-white-50 mb-4"><a href="https://www.instagram.com/greg.chd/?hl=es-la">Instagram</a></p>


{%endblock%}